
/* 图片 */
#markdown-container img {
  display: block;
  max-width: 100%;
  box-sizing: content-box;
  background-color: var(--bg-primary); /* 使用主背景色 */
  border-radius: 3px;
  margin: 16px auto;
  box-shadow: 0 1px 4px var(--shadow-1);
}





/* 特殊元素（任务列表等）*/
#markdown-container ul.task-list {
  list-style-type: none;
  padding-left: 0;
}

#markdown-container ul.task-list li {
  display: flex;
  align-items: center;
  color: var(--text-primary); /* 使用主文字色 */
}

#markdown-container ul.task-list input[type="checkbox"] {
  margin-right: 8px;
}





/* 引用块 (Blockquote) */
#markdown-container blockquote {
  margin: 0 0 1.25em 0;
  padding: 0.5em 1em;
  border-left: 4px solid var(--accent-m); /* 左侧强调边框 */
  background-color: var(--bg-muted); /* 次背景色 */
  color: var(--text-secondary); /* 次要文字色 */
}
#markdown-container blockquote p {
  margin: 0.35em 0;
  color: inherit;
}


