/* 内容边距 */
:root {
  /* 桌面端 padding 预设 */
  --padding-small-desk: 2.5rem calc(3rem - 10px) 2rem 3rem;
  --padding-medium-desk: 3rem calc(6rem - 10px) 3rem 6rem;
  --padding-large-desk: 2rem calc(15rem - 10px) 4rem 15rem;
  
  /* 移动端 padding 预设 */
  --padding-small-mob: 1.5rem calc(2rem - 10px) 4rem 2rem;
  --padding-medium-mob: 1.5rem calc(2.5rem - 10px) 4rem 2.5rem;;
  --padding-large-mob: 2rem calc(4rem - 10px) 4rem 4rem;
}

/* 默认边距 */
html.padding-small {
  --wrapper-padding: var(--padding-small-desk);
}
html.padding-medium {
  --wrapper-padding: var(--padding-medium-desk);
}
html.padding-large {
  --wrapper-padding: var(--padding-large-desk);
}

/* 响应式 */
@media (max-width: 768px) {
  html.padding-small {
    --wrapper-padding: var(--padding-small-mob);
  }
  html.padding-medium {
    --wrapper-padding: var(--padding-medium-mob);
  }
  html.padding-large {
    --wrapper-padding: var(--padding-large-mob);
  }
}

