* {
  box-sizing: border-box;
}

#app, .app, html, body {
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  background-color: var(--bg-primary); /* 使用 color.css 中的背景主色变量 */
  box-sizing: border-box;
  overflow-y: hidden;
  display: flex;
  width: 100%; /* 确保html和body占满视口 */
}

.main-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0; /* 允许内容收缩 */
  width: 100%; /* 限制最大宽度 */
}

/* 移动端适配 */
@media (max-width: 768px) {
  .main-panel {
    width: 100%;
    flex: none;
    transition: margin-left 0.4s;
  }
}




