/* 页内导航栏 */
#pageNav {
  position: relative;
  flex: none;
  width: 210px;
  overflow: hidden;
  padding: 10px 10px 56px 16px;
  right: 0; 
  height: calc(100vh - 40px);
  display: block;
  background: var(--bg-primary);
  border-left: 1px solid var(--border-m);
  box-sizing: border-box;
}

/* 导航标题样式 */
.nav-title {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--text-tertiary);
  margin-bottom: 5px;
}

#pageNav::-webkit-scrollbar { width: 4px; }
#pageNav::-webkit-scrollbar-thumb {
  background-color: var(--border-m);
}

.nav-items-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* 保留滚动功能 */
  overflow-x: hidden;
  height: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-left: 10px;
}

.nav-items-container::-webkit-scrollbar {
  display: none;
}

.nav-item {
  font-size: 1.2rem;
  margin: 5px 5px 5px 0;
  color: #333;
  text-decoration: none;
  transition: all 0.2s;
  cursor: pointer;
  font-weight: 400;
  padding-left: 8px;
  position: relative; 
}

.level-1 { font-size: 1.12rem;color: var(--text-muted); } 
.level-2 { font-size: 1.1rem;color: var(--text-muted); }
.level-3 { font-size: 1.1rem;color: var(--text-muted); }

.nav-item:hover {
  color: var(--accent-m);
}

.nav-item.active {
  color: var(--accent-m);
  font-weight: bold;
}

/* 贴合 #pageNav 左侧边框 */
.nav-indicator {
  position: absolute;
  left: 0; 
  width: 2px;
  height: 20px;
  top: 60px;
  background-color: var(--accent-m);
  transition: top 0.3s ease, height 0.3s ease;
  opacity: 1;
}

/* 底部 footer 样式 */
.nav-navfooter {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  box-sizing: border-box;
  height: 40px;
  background: var(--bg-primary);
}

@media screen and (max-width: 1100px) {
  /* 移动端导航容器 */
  #pageNav {
    position: fixed;
    transform: translateX(100%);
    transition: all 0.3s;
  }

  /* 显示导航时：滑入屏幕 */
  #pageNav.show {
    transform: translateX(0); /* 滑到可见区域 */
  }
}