/* ==============================================
   基础样式（PC 和 移动端通用）
============================================== */
#pageNav {
  flex: none; /* 不换行 */
  width: 230px;
  overflow-y: auto;
  padding: 10px 10px 16px 16px;
  right: 0; height: calc(100vh - 40px);
  display: block; /* 确保PC端默认显示 */
  background: var(--bg-primary);
  border-left: 1px solid var(--border-m);
}

/* 导航标题样式 */
.nav-title {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--text-secondary); /* 注意原代码可能笔误：text-primay → text-primary */
  margin-bottom: 5px; /* 与下方导航项保持距离 */
  padding-left: 5px; /* 与导航项左对齐 */
}

#pageNav::-webkit-scrollbar { width: 4px; }
#pageNav::-webkit-scrollbar-thumb {
  background-color: var(--border-m);
}

.nav-items-container {
  display: flex;
  flex-direction: column;
}

.nav-item {
  font-size: 1.2rem;
  margin: 5px;
  color: #333;
  text-decoration: none;
  transition: all 0.2s;
  cursor: pointer;
  color: var(--text-primary);
}

.level-1 { font-size: 1.4rem;color: var(--text-tertiary); }
.level-2 { font-size: 1.2rem;color: var(--text-tertiary); }
.level-3 { font-size: 1rem;color: var(--text-tertiary); }

.nav-item:hover {
  color: var(--accent-m);
}

.nav-item.active {
  color: var(--accent-m);
  font-weight: bold;
}

.nav-items-container {
  position: relative;
}

.nav-indicator {
  position: absolute;
  left: -16px;
  width: 2px;
  background-color: var(--accent-m);
  transition: top 0.3s ease, height 0.3s ease;
}


@media screen and (max-width: 1100px) {
  /* 移动端导航容器 */
  #pageNav {
    position: fixed;
    transform: translateX(100%);
    transition: all 0.3s;
  }

  /* 显示导航时：滑入屏幕 */
  #pageNav.show {
    transform: translateX(0); /* 滑到可见区域 */
  }

}